<li id="blogpost-<%= blogpost.id %>">
  <span class="user"><%= blogpost.user.name %></span>
  <span class="content"><%= blogpost.content %></span>
  <span class="timestamp">
    Posted <%= (blogpost.created_at) %>
    <% if logged_in? %>
    	<%= link_to "delete", blogpost, method: :delete,
    									data: {confirm: "You sure?" } %>
 	<% end %>
  </span>
</li>
