<li id="blogpost-<%= blogpost.id %>">

  <span class="user"><%= blogpost.user.name %></span><br>
  <p></p>
  <div>
  	<span class="start">
  		<% if blogpost.content.length > 500 %>
  			<%= truncate(blogpost.content, length: 500) %><a href="#" class="more_button">Continue Reading?</a>
  		<% else %>
  			<% simple_format(blogpost.content) %>
  		<% end %>
  	</span>

  	<span class="finish hide">
  		<%= simple_format(blogpost.content) %><a href="#" class="less_button">...Show Less?</a>

  	</span>

  </div>
  <span class="timestamp"></br>
    Posted <%= (blogpost.created_at) %>
    <% if logged_in? %>
    	<%= link_to "delete", blogpost, method: :delete,
    									data: {confirm: "You sure?" } %>
 	<% end %>
  </span>
</li>
