

<div id="background-pallette">
	<div id="background-screen">
		<div id="logo_container">
			<%= link_to image_tag("logo.jpg"), root_path, id: "logo" %>
		</div>

		

		<%= render 'layouts/scrolling_pictures' %>
		<%= render 'layouts/header' %>
		<%= render 'layouts/services_photos' %>

		<%= render 'service_descriptions/warehousing' %>
		<%= render 'service_descriptions/transloading' %>



		<% for i in 1..100 %>
			<p><%="#{i}"%></p>
		<% end %>
	</div>
</div>

<footer id="footer">

</footer>