<% provide(services = ["warehousing", "transloading", "drayage",
	"stripping", "packaging", "rail_access", "welding", "trucking"]) %>

<div id="background-pallette">
	<div id="background-screen">
		<div id="logo_container">
			<%= link_to image_tag("logo.jpg"), root_path, id: "logo" %>
		</div>

		

		<%= render 'layouts/scrolling_pictures' %>
		<%= render 'layouts/header' %>
		<%= render 'layouts/services_photos' %>
		
		<% for i in 0..7 %>
			<%= render "service_descriptions/#{services[i]}" %>
		<% end %>
		



		<% for i in 1..20 %>
			<p><br></p>
		<% end %>
	</div>
</div>

<footer id="footer">

</footer>