

<div id="background-pallette">
	<div id="background-screen">
		<div id="logo_container">
			<%= link_to image_tag("logo.jpg"), root_path, id: "logo" %>
		</div>

		

		<%= render 'layouts/scrolling_pictures' %>
		<%= render 'layouts/header' %>
		<%= render 'layouts/services_photos' %>
		<% services = ["warehousing", "transloading"] %>
		<% for i in 0..1 %>
			<%= render "service_descriptions/#{services[i]}" %>
		<% end %>
		



		<% for i in 1..100 %>
			<p><%="#{i}"%></p>
		<% end %>
	</div>
</div>

<footer id="footer">

</footer>