
<div class="col-md-8">
    <% if Blogpost.any? %>
      <ul class="blogposts">
        <%= render Blogpost.all %>
      </ul>
    <% end %>
 </div>

 <% if logged_in? %>
  <p id="logout_button">Logged in do you want to <%= link_to "logout", logout_path, method: "delete" %></p>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="blogpost_form">
        <%= render 'shared/blogpost_form' %>
      </section>
    </aside>
  </div>

<% else %>
  <p id="edit_option">Please <%= link_to "log in", login_path %> to edit content</p>
<% end %>
