<div id="services_container">
	<ul id="first_four_photos">
		<li><%= image_tag("warehouse.jpg", id: "warehouse", class: "selected_service_photo") %></li>
		<li><%= image_tag("drayage.jpg", id: "drayage", class: "service_photos") %></li>
		<li><%= image_tag("stripping.jpg", id: "stripping", class: "service_photos") %></li>
		<li><%= image_tag("packaging.jpg", id: "packaging", class: "service_photos") %></li>
	</ul>
	<ul>
		<li><%= image_tag("transloading.jpg", id: "transloading", class: "service_photos") %></li>
		<li><%= image_tag("rail_access.jpg", id: "rail_access", class: "service_photos") %></li>
		<li><%= image_tag("welding.jpg", id: "welding", class: "service_photos") %></li>
		<li><%= image_tag("trucking.jpg", id: "trucking", class: "service_photos") %></li>

	</ul>
</div>