<!--
<header>
	<div id="header_container">
		<ul id="header_list">
			<li><%= link_to_unless_current "Services", root_path, :id => "services_button" do link_to "Services", root_path, :class => "on_page", :id => "services_button" end %></li>
			
			<li><%= link_to_unless_current "Locations", location_path, :id => "location_button" do link_to "Locations", location_path, :class => "on_page", :id => "location_button" end %></li>

			<li><%= link_to_unless_current "Recent News", recent_news_path, :id => "recent_news_button" do link_to "Recent News", recent_news_path, :class => "on_page", :id => "recent_news_button" end %></li>

			
			<li><%= link_to_unless_current "About us", about_us_path, :id => "about_us_button" do link_to "About us", about_us_path, :class => "on_page", :id => "about_us_button" end %></li>

			
			<li><%= link_to_unless_current "Contact", contacts_path, :id => "contact_button" do link_to "Contact", contacts_path, :class => "on_page", :id => "contact_button" end %></li>
		</ul>
	<div>
</header>

<hr></hr>
-->


<nav class="navbar navbar-fixed-top">


      <ul class="nav nav-tabs">
      <li> <%= link_to "UTS", root_path, class: "active" %></li>
      <li class="dropdown">
        <a href="/warehousing"  class="dropdown-toggle">Services <b class="caret"></b></a>
        <ul class="dropdown-menu" id="menu1">
          <!--
          <li>
              <a href="#">2-level Menu <i class="icon-arrow-right"></i></a>
              <ul class="dropdown-menu sub-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
              </ul>
          </li>
          -->
          <li><%= link_to "Warehousing", warehousing_path %></li>
          <li><%= link_to "Drayage", drayage_path %></li>
          <li><%= link_to "Packaging", packaging_path %></li>
          <li><%= link_to "Rail Access", rail_access_path %></li>
          <li><%= link_to "Transloading", transloading_path %></li>
          <li><%= link_to "Trucking", trucking_path %></li>
          <li><%= link_to "Welding", welding_path %></li>
          <li><%= link_to "Stripping and Stuffing", stripping_and_stuffing_path %></li>
          <!--
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        -->
        </ul>
      </li>
      <li class="dropdown">
        <%= link_to "Locations", location_path %>
      </li>

      <li class="dropdown">
        <%= link_to "Recent News", recent_news_path %>
      </li>
      <li class="dropdown">
        <%= link_to "About us", about_us_path %>
      </li>
      <li class="dropdown">
        <%= link_to "Contact", contacts_path %>
      </li>
      </ul>

</nav>