
<header>
	<div id="header_container">
		<ul id="header_list">
			<li id="services_button"><%= link_to "Services", root_path %></li>
			<li id="recent_news_button"><%= link_to "Recent News", recent_news_path %></li>
			<li id="about_us_button"><%= link_to "About Us", about_us_path %></li>
			<li id="contact_button"><%= link_to "Contact", contacts_path %></li>
			<li id="location_button"><%= link_to "Location", location_path %></li>
		</ul>
	<div>
</header>

<hr></hr>
