<!DOCTYPE html>
<html>
<head>
  <title>UTS</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  



</head>
<body>
	<div id="push_down">
		<div id="background-pallette">
			<div id="background-screen">
				<div id="logo_container">
					<%= link_to image_tag("logo.jpg"), root_path, id: "logo" %>
				</div>
				<%= render 'layouts/header' %>
				<%= yield %>
			</div>
		</div>

	</div>
</body>

</html>
